section#about-me
	.container
		h2 CONOCEME 
		.row
			.col-md-8.col-sm-8
				p ¡Hola!  mi nombre es Monica Ccencho, tengo 20 años y soy desarrolladora Front-end, y estudiante de Administracion de Negocios Internacionales.
				p Soy una joven que se caracteriza por ser carismatica e innovadora y con habiliades en HTML, CSS, JADE, SASS, BOOTSTRAP, RESPONSIVE y estoy explorando JAVASCRIPT.
			.col-md-4.col-sm-4.text-center
				img(src="assets/img/perfil.jpg", class="perfil")
.about-footer
		h3 « No tengo talentos especiales, pero sí soy profundamente curioso »