section#skills
	.container.text-center
		h2 Habilidades
		hr(width="10%" align="center")
		p Estas son las herramientas que utilizo para realizar mis páginas web.
		.row.circle-group
			.col-md-3.col-sm-3.col-xs-12
				.circle.1
					img(src="assets/img/skills/icon-html.png", alt="icon-jade")
					p 85%
			.col-md-3.col-sm-3.col-xs-12
				.circle.2
					img(src="assets/img/skills/icon-css.png", alt="icon-jade")
					p 82%
			.col-md-3.col-sm-3.col-xs-12
				.circle.3
					img(src="assets/img/skills/icon-jade.png", alt="icon-jade")
					p 84%
			.col-md-3.col-sm-3.col-xs-12
				.circle.4
					img(src="assets/img/skills/icon-jade.png", alt="icon-jade")
					p 82%
		.row.circle-group
			.col-md-3.col-sm-3.col-xs-12
				.circle.5
					img(src="assets/img/skills/icon-bootstrap.png")
					p 90%
			.col-md-3.col-sm-3.col-xs-12
				.circle.6
					img(src="assets/img/skills/icon-jquery.png", alt="icon-jade")
					p 45%
			.col-md-3.col-sm-3.col-xs-12
				.circle.6
					img(src="assets/img/skills/icon-jquery.png")
					p 45%
			.col-md-3.col-sm-3.col-xs-12
				.circle.7
					img(src="assets/img/skills/icon-jade.png", alt="icon-jade")
					p 80%