h2,h3{
		font-weight: bold;
		font-family: 'Poiret One', cursive;
}
h1{
	font-family: Blackboard Ultra;
}
.text-center{
	text-align:center;
}
.text-right{
	text-align:right;
}
.text-left{
	text-align:left;
}
.hade{
	color:#16ffbd;
}
.pb-3{
	padding-bottom:1%;
}
