@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Rancho);
@import url(https://fonts.googleapis.com/css?family=Gudea);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Flamenco);
@import url(https://fonts.googleapis.com/css?family=Asap);
h2, h3 {
  font-weight: bold;
  font-family: 'Poiret One', cursive; }

h1 {
  font-family: Blackboard Ultra; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.hade {
  color: #16ffbd; }

.pb-3 {
  padding-bottom: 1%; }

header nav, header .navbar-inverse {
  background: transparent;
  height: 65px;
  border: 0; }
  header nav .navbar-toggle:hover, header .navbar-inverse .navbar-toggle:hover {
    background: #4cf39c;
    border-radius: 6px; }
  header nav .navbar-toggle:focus, header .navbar-inverse .navbar-toggle:focus {
    background: #4cf39c;
    border-radius: 6px; }
  header nav .navbar-toggle, header .navbar-inverse .navbar-toggle {
    border: none; }
  header nav .navbar-collapse, header .navbar-inverse .navbar-collapse {
    border: none; }
header .navbar-brand {
  padding: 8px 15px;
  color: white; }
header .navbar-inverse .navbar-nav > li > a {
  color: #16ffbd;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 1.5em; }
  header .navbar-inverse .navbar-nav > li > a:hover {
    border-bottom: 3px solid #16ffbd;
    color: #16ffbd; }
header .icon-logo {
  width: 70%; }

.bg-perfil {
  text-align: center;
  padding: 250px 0;
  background: url("../img/background/bg-8.jpg") no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 255, 0.46);
  background-blend-mode: color;
  background-attachment: fixed; }
  .bg-perfil img {
    width: 40%; }

#menu.active {
  background: rgba(0, 0, 0, 0.90196);
  padding: 5px 0;
  color: white;
  webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0s ease-in-out;
  -moz-transition: all 0.0s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-transform: translateZ(0); }

#about-me {
  background: url("../img/about.png"); }
  #about-me .text-about {
    padding: 5% 0; }
  #about-me p {
    font-family: 'Flamenco', cursive;
    font-size: 2em; }
  #about-me .perfil {
    text-align: center;
    border-radius: 80%;
    width: 60%; }

.frase {
  background: url("../img/background/bg-1.jpg") no-repeat;
  height: 250px;
  background-size: cover;
  background-color: rgba(0, 0, 255, 0.51);
  background-blend-mode: color;
  background-attachment: fixed; }
  .frase h3 {
    color: white;
    text-align: center;
    padding: 85px 0; }

#skills {
  @import url(http://fonts.googleapis.com/css?family=Lato:100,400);
  padding: 80px 0 60px;
  background: url("../img/play.png"); }
@keyframes load {
  0% {
    stroke-dashoffset: 0; } }
  #skills img {
    width: 120px;
    border-radius: 100px;
    height: 120px;
    border: 1px dashed black; }
  #skills .circle {
    display: inline-block;
    position: relative;
    text-align: center;
    color: #93A2AC;
    font-family: Lato;
    font-weight: 100;
    margin: 4rem; }
    #skills .circle:before {
      content: attr(data-name);
      position: absolute;
      width: 100%;
      bottom: -2rem;
      font-weight: 400; }
    #skills .circle:after {
      content: attr(data-percent);
      position: absolute;
      width: 100%;
      top: 3.7rem;
      left: 0;
      font-size: 2rem;
      text-align: center; }
  #skills svg {
    width: 10rem;
    height: 10rem; }
    #skills svg:nth-child(2) {
      position: absolute;
      left: 0;
      top: 0;
      transform: rotate(-90deg); }
    #skills svg:nth-child(2) path {
      fill: none;
      stroke-width: 25;
      stroke-dasharray: 629;
      stroke: #fff;
      opacity: .9;
      animation: load 4s; }

#contact {
  text-align: center;
  padding: 40px; }
  #contact h2 {
    padding: 20px 0 40px; }
  #contact .text-contact {
    padding: 30px 150px; }
  #contact p:nth-child(2), #contact p:nth-child(3) {
    padding: 15px;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
    font-size: 20px; }
  #contact .icon-rombo, #contact .icon-contact {
    width: 45px;
    height: 45px;
    line-height: 45px !important;
    position: relative;
    margin: 0 15px;
    text-align: center;
    display: inline-block;
    -webkit-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
    -moz-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
    -o-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
    -ms-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
    transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1); }
  #contact i {
    text-decoration: none;
    color: #16ffbd;
    font-size: 20px; }
  #contact a:before, #contact .box-icon:before {
    background: rgba(0, 0, 0, 0.06);
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #16ffbd;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
    -moz-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
    -o-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
    -ms-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
    transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1); }

footer {
  background: #333;
  text-align: center;
  color: white;
  padding: 25px 0 10px; }

#work {
  background: #ecebeb;
  padding: 80px 0 60px;
  /* remove the blue line that shows on modal buttons after you have open and close a modal */
  /* effect hover 1 */ }
  #work .row {
    padding: 15px 0; }
  #work .box {
    border: 1px solid rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default; }
    #work .box .text {
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0; }
    #work .box img {
      display: block;
      position: relative;
      width: 100%; }
    #work .box h3 {
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      position: relative;
      font-size: 17px;
      padding: 10px;
      background: rgba(0, 0, 0, 0.6); }
    #work .box a.info {
      display: inline-block;
      text-decoration: none;
      padding: 7px 14px;
      text-transform: uppercase;
      color: #fff;
      border: 1px solid #fff;
      margin: 50px 0 0 0;
      border-radius: 0px;
      background-color: transparent; }
      #work .box a.info:hover {
        box-shadow: 0 0 5px #fff; }
  #work .modal-open .modal, #work button:focus {
    outline: none !important; }
  #work .effect img {
    transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear; }
  #work .effect .text {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
  #work .effect h3 {
    -moz-transform: translatey(-100px);
    -ms-transform: translatey(-100px);
    -o-transform: translatey(-100px);
    -webkit-transform: translatey(-100px);
    transform: translatey(-100px);
    opacity: 0;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  #work .effect button.info {
    opacity: 0;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  #work .effect:hover img {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  #work .effect:hover .text {
    opacity: 1; }
  #work .effect:hover h3 {
    opacity: 1;
    -moz-transform: translatey(0);
    -ms-transform: translatey(0);
    -o-transform: translatey(0);
    -webkit-transform: translatey(0);
    transform: translatey(0); }
  #work .effect:hover button.info {
    opacity: 1;
    -moz-transform: translatey(0);
    -ms-transform: translatey(0);
    -o-transform: translatey(0);
    -webkit-transform: translatey(0);
    transform: translatey(0);
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s; }

/*# sourceMappingURL=main.css.map */
