@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Rancho);
@import url(https://fonts.googleapis.com/css?family=Gudea);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Flamenco);
@import url(https://fonts.googleapis.com/css?family=Asap);
h2, h3 {
  font-weight: bold;
  font-family: 'Poiret One', cursive;
  padding-bottom: 2%; }

h1 {
  font-family: Blackboard Ultra; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.hade {
  color: #16ffbd; }

.pb-3 {
  padding-bottom: 1%; }

header nav, header .navbar-inverse {
  background: transparent;
  height: 65px;
  border: 0; }
  header nav .navbar-toggle:hover, header .navbar-inverse .navbar-toggle:hover {
    background: #4cf39c;
    border-radius: 6px; }
  header nav .navbar-toggle:focus, header .navbar-inverse .navbar-toggle:focus {
    background: #4cf39c;
    border-radius: 6px; }
  header nav .navbar-toggle, header .navbar-inverse .navbar-toggle {
    border: none; }
  header nav .navbar-collapse, header .navbar-inverse .navbar-collapse {
    border: none; }
header .navbar-brand {
  padding: 8px 15px;
  color: white; }
header .navbar-inverse .navbar-nav > li > a {
  color: #16ffbd;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 1.5em; }
  header .navbar-inverse .navbar-nav > li > a:hover {
    background: black;
    color: #16ffbd; }
header .icon-logo {
  width: 70%; }

.bg-perfil {
  text-align: center;
  padding: 250px 0;
  background: url("../img/background/bg-8.jpg") no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 255, 0.46);
  background-blend-mode: color;
  background-attachment: fixed; }
  .bg-perfil img {
    width: 40%; }

#menu.active {
  background: black;
  padding: 5px 0;
  color: white;
  webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0s ease-in-out;
  -moz-transition: all 0.0s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-transform: translateZ(0); }

#about-me {
  background: url("../img/about.png"); }
  #about-me .text-about {
    padding: 5% 0; }
  #about-me p {
    font-family: 'Flamenco', cursive;
    font-size: 2em; }
  #about-me .perfil {
    text-align: center;
    border-radius: 80%;
    width: 60%; }

.frase {
  background: url("../img/background/bg-1.jpg") no-repeat;
  height: 250px;
  background-size: cover;
  background-color: rgba(0, 0, 255, 0.51);
  background-blend-mode: color;
  background-attachment: fixed; }
  .frase h3 {
    color: white;
    text-align: center;
    padding: 85px 0; }

#skills {
  padding: 40px; }
  #skills hr {
    border: 2px solid blue; }
  #skills p {
    font-size: 1.2em;
    margin: 4% 0; }
  #skills .circle-group {
    padding-bottom: 6%; }
    #skills .circle-group .circle {
      position: relative;
      display: inline-block;
      margin: 3%;
      vertical-align: top;
      text-align: center;
      width: 162px;
      padding-top: 40px;
      color: #2A3159; }
      #skills .circle-group .circle canvas {
        display: block;
        position: absolute;
        left: 0;
        top: 0; }
      #skills .circle-group .circle img {
        margin-top: 10%; }
      #skills .circle-group .circle i {
        font-size: 3em;
        display: block; }
      #skills .circle-group .circle span {
        font-size: 1.2em; }

#contact {
  text-align: center;
  padding: 40px; }
  #contact .text-contact {
    padding: 30px 150px; }
  #contact i {
    font-size: 3em;
    color: #16ffbd; }
  #contact i:hover {
    background: #16ffbd;
    border-radius: 10px;
    padding: 10px;
    color: white;
    transition: .5s; }

footer {
  background: #333;
  text-align: center;
  color: white;
  padding: 25px 0 10px; }

#work {
  padding: 40px;
  /*Efecto hover*/ }
  #work img {
    width: 100%;
    opacity: 1; }
  #work .effect {
    overflow: hidden;
    margin: 10px 1%;
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease; }
  #work .effect:after,
  #work .effect:before,
  #work .effect figcaption:after,
  #work .effect figcaption:before {
    background: #73efe4;
    width: 25%;
    position: absolute;
    content: '';
    opacity: 0;
    -webkit-transition: all 0.3s steps(4);
    transition: all 0.3s steps(4);
    z-index: 1;
    top: 100%;
    bottom: 0; }
  #work .effect:before {
    left: 0;
    -webkit-transition-delay: 0;
    transition-delay: 0; }
  #work .effect:after {
    left: 25%;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s; }
  #work .effect figcaption:before {
    left: 50%;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    z-index: -1; }
  #work .effect figcaption:after {
    left: 75%;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    z-index: -1; }
  #work .effect figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 30px; }
  #work .effect h3,
  #work .effect p,
  #work .effect a {
    opacity: 0; }
  #work .effect h3 {
    text-transform: uppercase; }
  #work .effect i {
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    opacity: 0.8; }
    #work .effect i i:hover {
      opacity: 1; }
  #work .effect:hover:after,
  #work .effect.hover:after,
  #work .effect:hover:before,
  #work .effect.hover:before,
  #work .effect:hover figcaption:after,
  #work .effect.hover figcaption:after,
  #work .effect:hover figcaption:before,
  #work .effect.hover figcaption:before {
    top: 0;
    opacity: 0.8; }
  #work .effect:hover figcaption h3,
  #work .effect.hover figcaption h3,
  #work .effect:hover figcaption p,
  #work .effect.hover figcaption p,
  #work .effect:hover figcaption a,
  #work .effect.hover figcaption a {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s; }
  #work .effect:hover figcaption h3,
  #work .effect.hover figcaption h3,
  #work .effect:hover figcaption a,
  #work .effect.hover figcaption a {
    opacity: 1; }
  #work .effect:hover figcaption p,
  #work .effect.hover figcaption p {
    opacity: 0.7; }

/*# sourceMappingURL=main.css.map */
