#about-me{
	background:url("../img/about.png");
	.text-about{
		padding: 5% 0;
	}
	p{
		font-family: 'Flamenco', cursive;
		font-size: 2em;
	}
	.perfil{
		text-align: center;
		border-radius:80%;
		width: 60%;
	}
}
.frase{
	background:url("../img/background/bg-1.jpg")no-repeat;
	height: 250px;
	background-size:cover;
	background-color:rgba(0, 0, 255, 0.51);
	background-blend-mode:color;
	background-attachment:fixed;
	h3{
		color:white;
		text-align:center;
		padding:85px 0;
	}
}